<mat-form-field class="form-field-width">
	<!-- [(ngModel)]="selectedValue" -->
	<mat-select #selectElem [placeholder]="placeholder" [formControl]="control" [multiple]="multiple"  (selectionChange)="onSelectionChange($event)">
		<div class="box-search">
			<button mat-icon-button type="button" (click)="deselectAll()" *ngIf="control.value && control.value.length > 0"><mat-icon>select_all</mat-icon></button>
			<mat-checkbox *ngIf="multiple && allowSelectAll" color="accent" class="box-select-all"  [(ngModel)]="selectAllChecked" (change)="toggleSelectAll($event.checked)"></mat-checkbox>
			<input #searchInput type="text" [ngClass]="{'pl-1': !multiple}" placeholder="Search..." (input)="filterItem(searchInput.value)">
			<button mat-icon-button class="box-search-icon" (click)="filterItem(''); searchInput.value=''"><mat-icon>clear</mat-icon></button>
		</div>
		<mat-select-trigger>{{onDisplayString()}}</mat-select-trigger>
		<mat-option *ngFor="let option of filteredOptions" [value]="option[value]">{{option[display]}}</mat-option>
	</mat-select>
	<mat-hint class="text-warning" *ngIf="showErrorMsg">{{errorMsg}}</mat-hint>
</mat-form-field>