<div [ngClass]="externalClass">
	<mat-form-field [ngClass]="internalClass">
		<mat-label [attr.for]="id">{{labelDate}}</mat-label>
        <input [id]="id" matInput [attr.aria-label]="labelDate" [matDatepicker]="datepicker" [formControl]="dateForm"
			[min]="config.minDate" [max]="config.maxDate" (dateChange)="dateChange($event)">
		<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
		<mat-datepicker #datepicker [disabled]="disabled" [touchUi]="config.touchUi" startView="{{config.startView}}"></mat-datepicker>
		<mat-error *ngFor="let validation of validationMessages">
			<mat-error class="error-message" *ngIf="dateForm.hasError(validation.type) && (dateForm.dirty || dateForm.touched)">
					<span [innerHTML]="validation.message"></span>
			</mat-error>
		</mat-error>
	</mat-form-field>
	<div *ngIf="!dateOnly" [formGroup]="timeFormGroup" [ngClass]="internalClass">		
		<mat-form-field>
			<mat-label [attr.for]="id + '2'">Time</mat-label>
			<input [id]="id + '2'" [attr.aria-label]="labelDate + ' time'" matInput [ngxTimepicker]="endTime" [format]="12" formControlName="endTime" />
			<mat-icon matSuffix>access_time</mat-icon>
		</mat-form-field>
		<ngx-material-timepicker #endTime (timeSet)="timeChange($event)" [minutesGap]="5"></ngx-material-timepicker>
	</div>
</div>
