<div [formGroup]="form">
      
    <div [ngSwitch]="question.controlType">
        <!-- input fields -->
        <mat-form-field *ngSwitchCase="'textbox'">
            <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
            <input matInput [formControlName]="question.key" [id]="question.key" [type]="question.type">
            <mat-error *ngFor="let validation of question.validationMessages">
                <app-dynamic-errors [formControlItem]="formControlItem" [validation]="validation"></app-dynamic-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'textArea'">
            <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
            <textarea matInput [formControlName]="question.key"
                    [id]="question.key" [type]="question.type"></textarea>
                    <mat-error *ngFor="let validation of question.validationMessages">
                        <app-dynamic-errors [formControlItem]="formControlItem" [validation]="validation"></app-dynamic-errors>
                    </mat-error>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'dropdown'">
            <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
            <mat-select [id]="question.key" [formControlName]="question.key">
                <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
            </mat-select>
            <mat-error *ngFor="let validation of question.validationMessages">
                <app-dynamic-errors [formControlItem]="formControlItem" [validation]="validation"></app-dynamic-errors>
            </mat-error>
        </mat-form-field>

        <mat-radio-group [attr.aria-label]="question.label" *ngSwitchCase="'radioButton'" [formControlName]="question.key">
            <mat-radio-button *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-radio-button>
        </mat-radio-group>

        <div [ngClass]="question.outerClass" *ngSwitchCase="'checkBox'">
            <mat-checkbox [formControlName]="question.key">{{question.label}}</mat-checkbox>
		</div>
		
		<app-date-time-form *ngSwitchCase="'dateTime'" [labelDate]="question.label" [id]="question.key" [formControlName]="question.key"
		[externalClass]="question.outerClass" [internalClass]="question.innerClass" [dateOnly]="question.type" [validationMessages]="question.validationMessages"></app-date-time-form>

    <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
  </div>


